@mixin pd($num,$max:30,$step:2) {
  @if $num <= $max {
    .pd#{$num} {
      padding: px2rem($num * 2);
    }
    .pdtb#{$num} {
      padding: px2rem($num * 2) 0;
    }
    .pdlr#{$num} {
      padding: 0 px2rem($num * 2);
    }
    .pdl#{$num} {
      padding-left: px2rem($num * 2);
    }
    .pdt#{$num} {
      padding-top: px2rem($num * 2);
    }
    .pdr#{$num} {
      padding-right: px2rem($num * 2);
    }
    .pdb#{$num} {
      padding-bottom: px2rem($num * 2);
    }
    @include pd($num + $step, $max, $step);
  }
}



@mixin mg($num,$max:30,$step:2) {
  @if $num <= $max {
    .mg#{$num} {
      margin: px2rem($num * 2);
    }
    .mgtb#{$num} {
      margin: px2rem($num * 2) 0;
    }
    .mglr#{$num} {
      margin: 0 px2rem($num * 2);
    }
    .mgl#{$num} {
      margin-left: px2rem($num * 2);
    }
    .mgt#{$num} {
      margin-top: px2rem($num * 2);
    }
    .mgr#{$num} {
      margin-right: px2rem($num * 2);
    }
    .mgb#{$num} {
      margin-bottom: px2rem($num * 2);
    }
    @include mg($num + $step, $max, $step);
  }
}

@mixin _tpos_() {
  .ftb {
    font-weight: bold;
  }

  .cp {
    cursor: pointer;
  }

  .tc {
    text-align: center;
  }

  .tl {
    text-align: left;
  }

  .tr {
    text-align: right;
  }

}

@mixin ft($size,$max:30,$step:2) {
  @if $size <= $max {
    .ft#{$size} {
      font-size: px2rem($size * 2);
    }
    @include ft($size + $step, $max, $step);
  }
}



@mixin icon($image:'') {

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
      content: '';
      display: block;
      height: px2rem(52);
      width: px2rem(52);
      @if $image {
        background-image: url($image);
      }
      background-size: px2rem(500) auto;
      background-clip: content-box;
    }
  }

}
































